{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_homepage') }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    <img src="https://robohash.org/{{ app.user.userIdentifier }}?size=126x126" alt="Avatar de {{ app.user.userIdentifier }}"/>
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.userIdentifier | capitalize }}</p>
                </div>
            </div>
        </div>
        <div class="dash-line-2">
            <div class="app-formations">
                <div class="title">
                    <h2>Formations à venir</h2>
                </div>

                <div class="items">
                    {% for item in sessions %}
                        <a class="item">
                            <span class="name">{{ item.formation.name }}</span>
                            <span class="sub">{{ item.fullDate }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="app-blog">
                <div class="title">
                    <h2>Actualités</h2>
                </div>

                <div class="items">
                    {% for item in articles %}
                        <div class="item">
                            <a href="{{ path('user_blog_read', {'slug': item.slug}) }}" class="name">{{ item.title }}</a>
                            <div class="documents">
                                {% if item.file1 %}
                                    <a target="_blank" href="{{ asset('articles/' ~ item.file1) }}"><span class="icon-link-2"></span> Document 1</a>
                                {% endif %}
                                {% if item.file2 %}
                                    <a target="_blank" href="{{ asset('articles/' ~ item.file2) }}"><span class="icon-link-2"></span> Document 2</a>
                                {% endif %}
                                {% if item.file3 %}
                                    <a target="_blank" href="{{ asset('articles/' ~ item.file3) }}"><span class="icon-link-2"></span> Document 3</a>
                                {% endif %}
                            </div>
                            <div class="intro">{{ item.introduction | raw }}</div>
                            <div class="sub">Publié le {{ item.createAtStringLong }}</div>
                            <a href="{{ path('user_blog_read', {'slug': item.slug}) }}" class="link">En savoir plus</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
