{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include "dashboard/layout/components/loader.html.twig" %}

    {% set menu = [
        {
            'path': path('app_homepage'),
            'label': 'Accueil',
            'name': 'accueil'
        },
        {
            'path': path('app_formation_category', {'cat': "transaction"}),
            'label': 'Transaction',
            'name': 'transaction'
        },
        {
            'path': path('app_formation_category', {'cat': "gestion"}),
            'label': 'Gestion',
            'name': 'gestion'
        },
        {
            'path': path('app_formation_category', {'cat': "syndic"}),
            'label': 'Syndic',
            'name': 'syndic'
        },
        {
            'path': path('app_formation_category', {'cat': "management"}),
            'label': 'Management',
            'name': 'management'
        },
        {
            'path': path('app_formation_category', {'cat': "working-lunch"}),
            'label': 'Ateliers',
            'name': 'working-lunch'
        },
        {
            'path': path('app_blog'),
            'label': 'Actualités',
            'name': 'actualites'
        }
    ] %}

    {% set menuBottom = [] %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% set menuLogged = [
            {
                'path': path('app_login'),
                'label': 'Mon espace',
                'name': 'login'
            },
            {
                'path': path('app_logout'),
                'label': 'Déconnexion',
                'name': 'logout'
            }
        ] %}
        {% set menuBottom = menuBottom | merge(menuLogged) %}
    {% else %}
        {% set menuLogged = [
            {
                'path': path('app_user_registration'),
                'label': 'Devenir adhérent',
                'name': 'devenir-adherent'
            },
            {
                'path': path('app_login'),
                'label': 'Espace adhérent',
                'name': 'connexion'
            }
        ] %}
        {% set menuBottom = menuBottom | merge(menuLogged) %}
    {% endif %}

    <div class="body">
        <nav class="fixed">
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-header-logo">
                        <a href="{{ path("app_homepage") }}">
                            <img src="{{ asset('build/app/images/fnaim.jpg') }}" alt="Logo Fnaim formation amp">
                        </a>
                    </div>
                </div>
                <div id="menu" data-menu="{{ menu | json_encode }}" data-menu-bottom="{{ menuBottom | json_encode }}"></div>
            </div>
        </nav>

        <main>

            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% include "app/layout/components/footer.html.twig" %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
