{% extends 'user/pages/sessions/template.html.twig' %}

{% set page_title %}{{ elem.formation.name }} | {{ elem.fullDate }}{% endset %}

{% block main_content %}
    <div class="main-content">
        <div class="page-session">
            <div class="line-1">
                <div class="col-1">
                    <div class="content">
                        <div class="title">Description</div>
                        <div>{{ elem.formation.content | raw }}</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card-session-register">
                        <div class="card-body">
                            <div class="item">
                                <span>Accessibilité handicapé : {{ elem.formation.accessibilityString }}</span>
                            </div>
                            <div class="item">
                                <span>Type de formation : {{ elem.typeString }}</span>
                            </div>
                            <div class="item">
                                <span class="icon-calendar"></span>
                                <span>{{ elem.fullDate }}</span>
                            </div>
                            <div class="item">
                                <span class="icon-time"></span>
                                <span>{{ elem.fullTime }}</span>
                            </div>
                            <div class="item">
                                <span class="icon-user"></span>
                                <span>{{ elem.animator }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="item item-price">
                                <span>150€</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>
                                <a href="" class="btn btn-primary">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-2">
                <div class="content">
                    <div class="title">Prérequis</div>
                    <div>{{ elem.formation.prerequis }}</div>
                </div>
                <div class="content">
                    <div class="title">Objectifs</div>
                    <div>{{ elem.formation.goals }}</div>
                </div>
                <div class="content">
                    <div class="title">Aptitudes</div>
                    <div>{{ elem.formation.aptitudes }}</div>
                </div>
                <div class="content">
                    <div class="title">Compétences</div>
                    <div>{{ elem.formation.skills }}</div>
                </div>
                <div class="content">
                    <div class="title">Public ciblé</div>
                    <div>{{ elem.formation.target }}</div>
                </div>
                <div class="content">
                    <div class="title">Catégorie de formation</div>
                    <div>{{ elem.formation.cat }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
