{% extends 'app/layout/layout.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="title-page">
            <h1>Nous contacter</h1>
        </div>

        <div class="page-col-2">
            <div class="col-1">
                <div class="image">
                    <img src="{{ asset('build/app/images/contact.jpg') }}" alt="illustration contact fnaim">
                </div>
            </div>
            <div class="col-2">
                <div id="contact">
                    {% include "dashboard/layout/components/spinner.html.twig" %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}